.tarjeta{
    width: 330px;
    height: 620px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgb(255, 255, 255);
    margin: 20px;
    text-align: center;
    border-style: solid;
    border-color: black;
    background-color: rgb(155, 153, 153);  
    color: black;
    
}

